.main {
  display: flex;
  column-gap: 6rem;
  flex-wrap: wrap;
}

.showdiv {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.show {
  height: 30px;
  width: 100px;
  background-color: #1cb798;
  border: none;
  border-radius: 5px;
  color: rgb(230, 230, 230);
}
